#include "resource.h"
#include "afxres.h"

#pragma code_page(65001)

IDD_MFCAPPLICATION7_DIALOG DIALOGEX 0, 0, 960, 540
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "MFCApplication7"
FONT 9, "MS UI Gothic", 0, 0, 0x1
BEGIN
END

IDD_ORDER_EDIT_DIALOG DIALOGEX 0, 0, 260, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "出庫順序変更"
FONT 9, "MS UI Gothic", 0, 0, 0x1
BEGIN
END

IDD_HISTORY_REQUEST_DIALOG DIALOGEX 0, 0, 260, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "出庫履歴取得"
FONT 9, "MS UI Gothic", 0, 0, 0x1
BEGIN
END

IDD_SCHEDULE_ADD_DIALOG DIALOGEX 0, 0, 300, 165
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "出庫予定追加"
FONT 9, "MS UI Gothic", 0, 0, 0x1
BEGIN
END

IDD_SCHEDULE_DELETE_CONFIRM_DIALOG DIALOGEX 0, 0, 300, 125
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "出庫予定削除"
FONT 9, "MS UI Gothic", 0, 0, 0x1
BEGIN
END
